[2017-03-15 20:29] AnthonyWC opened #2 "ValueError: No JSON object could be decoded"
[code]

I can curl to ip-172-17-0-146:3000/grafana and get back data.

[code]

[2017-04-25 13:30] IngaFeick opened #3 "TypeError in saveDatasources.py"
Not sure if this tool is supposed to work against grafana version 4 aswell. If not then please just close the ticket.

Python 2.7.9
Both grafana env variables are set and correct (I know because the saveDashboards.py works like a charm)
Grafana version: 4.1.0

[code]

The $datasource contains only `u'message'`

[2017-05-10 07:26] ysde commented on #3
Hi IngaFeick
I've tested on Grafana 4.0.2, it's ok.
I'll test it with Grafana 4.1.0

Thank you for your feedback.

[2017-05-15 15:52] ysde commented on #3
Hi @IngaFeick

I've tested with Grafana 4.1.0
My datasource and dashboards are all fine and can be saved and restored.

I'm thinking maybe there's some situations like special characters that break the code, can you provide me your datasource name?

Thank you.

[2017-06-16 01:03] tt-sergey opened #4 "Typo in a path to bash in backup script"
It's /nin/bash, should be /bin/bash.

[2017-07-13 14:16] The-smooth-operator commented on #3
I get the same error when the token is invalid. Note that I've printed the datasource object.
It'd be cool to add some token validation.
There are 1 datasources:
{u'message': u'Invalid Basic Auth Header'}
Traceback (most recent call last):
  File "/Users/alberto/repos/grafana-backup-tool/saveDatasources.py", line 28, in <module>
    datasources = get_all_datasources_and_save()
  File "/Users/alber

[2017-07-13 14:35] The-smooth-operator commented on #3
So, it appears that in order to be able to list the data sources, the key has to have "Admin" permissions level, while for listing the dashboards "Viewer" is enough.
Most likely this was the problem experienced by @IngaFeick

[2017-08-02 11:08] IngaFeick commented on #3
@The-smooth-operator affirmative. Thanks a lot for the hint, problem solved. I'm closing this.

[2017-08-02 11:08] #3 closed

[2017-09-01 06:19] ysde commented on #4
Thank you for correct that

[2017-09-01 06:19] #4 closed

[2017-10-27 16:37] tehlers320 opened #7 "Can only backup 1000 dashboards"
This is due to a limit in grafna that is hard coded https://github.com/grafana/grafana/blob/50a1feb90a5535ff2ec4f6242e47e4e9209d7575/pkg/services/sqlstore/dashboard.go#L153

[2017-12-01 00:14] chinseone opened #8 "Does the token have to exist after migration?"
This is not an issue but a question.

So we generated an API token on one Grafana instance and used the script to migrate some dashboards. After that we accidentally deleted the API token on the instance, and keep getting unauthorized error. So I'm wondering if this token is required even after migration?

[2017-12-01 02:06] ysde commented on #8
I think the token is needed when you are trying to use the Grafana API.

[2017-12-02 05:03] chinseone commented on #8
Mine isn't the latest either, maybe it's the datasource problem. Thanks anyway.

Li

[2017-12-13 16:38] #8 closed

[2018-08-16 19:04] nbluis opened #10 "Support folders in Grafana 5"
In grafana 5 when we execute backup, all folders are saved as a dashboard and when we try to restore this backup, folders are created as dashboards in the other instance.

[2018-08-29 05:16] ysde commented on #10
Thank you

[2018-08-29 05:16] #10 closed

[2019-01-21 09:47] thinrope opened #12 "Fails to save dashboards with special characters"
I saw PR #9 but I propose different solution: use the uri as filename, it should be filenamesafe on most filesystems...

Anyway, here is my suggestion, just in case:
[code]
There are some other errors with folders, so the above may not be the only thing that is needed.

Then I read about uid: http://docs.grafana.org/http_api/dashboard/ may be it is better to use that?

[2019-01-21 10:04] thinrope opened #13 "support python3"
From http://docs.python-requests.org/en/master/

This tool is one of the few in my systems that still works only with python2.7, please upgrade it to support python3, as well.

It looks simple enough to do with `futurize` (looks like only 'print()' is used), let me know if you prefer PR, or you'd rather hand-check it yourself.

[2019-01-21 10:14] thinrope commented on #7
Looks like there is a new 'limit' param and it is honored (after 5.0.x)
https://github.com/grafana/grafana/blob/v5.4.x/pkg/services/search/handlers.go#L33

Apparently work from https://github.com/grafana/grafana/pull/8504

Not sure what is the default of 'limit', can someone with >1000dashboards test?

[2019-01-21 11:38] thinrope opened #14 "(generally) check for status_code !=200"

[2019-01-21 11:41] thinrope commented on #14
For example search_datasource() and some others does not... I was trying to debug and found out that '{"message":"Permission denied"}' was considered a valid response, while I was trying to use Editor API key (need Admin for datasources).

[2019-01-28 13:14] lduriez opened #15 "ImportError: No module named ordered_dict"
Hello,

I try to launch the backup_grafana.sh but I have the following error :
[code]

Did someone had the same issue and/or know what should I do ?

[2019-03-18 10:41] ysde commented on #15
Hi lduriez

I think this might relate to urlib3 module's version you have.

Can you check on this to see if it works or not?
https://github.com/jofpin/trape/issues/77

FYI

[2019-03-19 02:15] ysde commented on #13
Yeah, please help upgrade it to support Python3.

PR is welcomed.

Thank you.

[2019-03-19 06:19] ysde commented on #14
ok give me some time to do this
thank you for point out the problem.

[2019-03-19 10:57] ysde commented on #13
I've done the upgrade in 1eee871f3b06d53970cc362709b08be1e1dfb0ce.

[2019-03-19 10:57] #13 closed

[2019-03-20 01:46] #14 closed

[2019-03-20 01:47] ysde commented on #12
I've done this in latest commits. Thank you

[2019-03-20 01:47] #12 closed

[2019-03-20 01:59] ysde commented on #2
Sorry I cannot tell what the real problem is by this log.

My guess is the permission of the token is not enough. But the program didn't print the message.

I have done an upgraded version, it might help of debugging this problem.

Thank you

[2019-03-20 01:59] #2 closed

[2019-03-20 03:15] ysde commented on #7
Hi guys

I've tested this. There is a query parameter "limit" in [dashboard search api](http://docs.grafana.org/http_api/folder_dashboard_search/)

The default is 1000 if you don't specify the "limit" parameter.

I set this to 100000 currently.  68f2945937f450c96afb4fedf682bd31bdbfce62
I think the possibility of creating dashboards over 100000 is very little right.

Thanks

[2019-03-20 03:15] #7 closed

[2019-03-20 14:58] MarcusCaepio opened #16 "does not work with latest grafana version"
Hi all,
wanted to try this but doesn't get it working.
Grafana URL is using https, grafana version is 6.0.2, Api got admin rights, when executing the backup script, I got:

2019-03-20_15:55:29
search dashboard in grafana:
Traceback (most recent call last):
  File "/root/grafana-backup-tool/saveDashboards.py", line 45, in <module>
    dashboards = get_all_dashboards_in_grafana()
  File "/root/grafa

[2019-03-21 12:10] MarcusCaepio commented on #16
Looks better, but I have to skip SSL verification:
[code]

[2019-03-22 01:45] ysde commented on #16
I see, I only tested this with "http".
I pushed a latest [commit](3a46f3f24ee586fed66dc23d7ef6c098fc76ac01) for this. Can you help verify it?

Thank you

[2019-04-02 19:51] ArcolaJasper commented on #16
Could you make skipping the verification a command line option? We have real certs for our grafana install and the warning is annoying.

I guess I could send a PR?

[2019-04-04 10:08] borjasueiro commented on #16
Can you do the same  in  "send_grafana_post" method?
_r = requests.post(url, headers=http_post_headers, data=json_payload)
change by
_r = requests.post(url, headers=http_post_headers, data=json_payload, verify=verifySSL)_

[2019-04-08 08:11] MarcusCaepio commented on #16
SSL is fixed, but I got another problem:
Traceback (most recent call last):
  File "/root/grafana-backup-tool/saveDashboards.py", line 47, in <module>
    get_indivisual_dashboard_setting_and_save(dashboards)
  File "/root/grafana-backup-tool/saveDashboards.py", line 38, in get_indivisual_dashboard_setting_and_save
    status_code_and_content = get_dashboard(board['uri'])
  File "/root/grafana-bac

[2019-04-08 12:29] ArcolaJasper commented on #16
I had the same issue, using python3 worked.

[2019-04-08 16:24] vitassecuriti commented on #16
I had this problem with Grafana 5.*
I runed script backup_garafana.sh and catched exception :
`query dashboard uri: db/allure-test-db, status: 200
Traceback (most recent call last):
  File "/home/talik/grafana-backup-tool/saveDashboards.py", line 47, in <module>
    get_indivisual_dashboard_setting_and_save(dashboards)
  File "/home/talik/grafana-backup-tool/saveDashboards.py", line 40, in get_ind

[2019-04-10 15:43] dgttm opened #17 "can't encode character u'\u2013'"
Hi,
first of all, thank you for your work.

I ran into the following issue. Its working for most of my dashboards, but some encounter the following issue while saveDashboards.py exports it:

query dashboard uri: db/pxc-galera-graphs, status: 200
Traceback (most recent call last):
  File "/grafana-backup-tool/saveDashboards.py", line 48, in <module>
    get_indivisual_dashboard_setting_and_save(das

[2019-04-11 07:39] dgttm commented on #17
I found a solution. adding this to the header exports my dashboards now.

import sys
reload(sys)
sys.setdefaultencoding('utf8')

[2019-04-14 16:48] Shotte opened #19 "Basic auth failed"
I ceated and added an API key as suggested in your documentation but cannot get the sript working due to authentication errors.

[code]

I'm using Grafana v6.1.3 (9504db8)

Any hints for me?

Regards

[2019-04-15 16:25] ysde commented on #17
Sorry for the late response.
Thank you for sharing the findings.

I'll check how to prevent this problem.
Thanks

[2019-04-15 16:25] #17 closed

[2019-04-15 16:43] ysde commented on #19
Hi @Shotte

It seems you don't have the right permission to call the API.

Did you create a token and set it in grafanaSettings.py ? (GRAFANA_TOKEN)

Maybe you can try first creating a API token with Admin Role to see it works or not.

https://grafana.com/docs/http_api/auth/
https://grafana.com/docs/permissions/overview/

FYI

[2019-04-16 01:56] ysde commented on #16
Hi @ArcolaJasper
You can skip SSL verification by setting `verifySSL=False` in grafanaSettings.py
Is that ok to you ?

[2019-04-16 02:05] ysde commented on #16
I've pushed latest commit adding this.
Thanks

[2019-04-16 14:42] MarcusCaepio commented on #16
works now, thanks a lot!

[2019-04-16 14:42] #16 closed

[2019-04-16 16:48] IngaFeick opened #20 "saveDashboards.py cannot write to file"
Hi! I am using the current master of this project and while I can successfully export datasources and folders, the export of dashboards failes like so:

[code]

Grafana version is 5.4.2, os is Debian 9

[2019-04-17 17:24] crzykidd opened #21 "can't encode charecter u'xb0'"
Getting this error.   Let me know if you need more info.

Traceback (most recent call last):
  File "/home/manderse/bin/grafana-backup-tool/saveDashboards.py", line 47, in <module>
    get_indivisual_dashboard_setting_and_save(dashboards)
  File "/home/manderse/bin/grafana-backup-tool/saveDashboards.py", line 38, in get_indivisual_dashboard_setting_and_save
    status_code_and_content = get_dashbo

[2019-04-17 17:25] crzykidd commented on #19
I had this same issue with a "view" API key.   Made it admin key and it works fine.

[2019-04-18 03:07] ysde commented on #21
Hi @crzykidd
Sorry there is a python2 and python3 string problem.
The request library returns different result in different python version.
I'll fix this asap.

Thank you

[2019-04-18 03:07] ysde commented on #20
Sorry there is a python2 and python3 string problem.
The request library returns different result in different python version.
I'll fix this asap.

Thank you

[2019-04-18 11:43] IngaFeick commented on #20
Thanks a lot @ysde

[2019-04-18 19:45] Shotte commented on #19
Hi @ysde and @crzykidd ,

thank you for your responses and hints, but I already used an admin key/token. Might there be an incompatibility based on some "special" Grafana settings (any special combination for login/guests/etc settings)?

Regards

[2019-04-19 07:09] ysde commented on #21
Hi @crzykidd

I've fixed it latest commit.

Can you help verify it?
Thank you

[2019-04-19 07:10] ysde commented on #20
Hi @IngaFeick

I've fixed it in latest commit.

Can you help verify it?
Thank you

[2019-04-21 03:34] crzykidd commented on #21
Solved.  Thank you for a great tool, and fast turnaround.

[2019-04-21 03:34] #21 closed

[2019-04-21 09:54] saurabtanej opened #22 "KeyError: 'uid' in saveDashboards.py"
I am trying to use this perfectly suited backup script for me.
I have the requirements already.
[code]
[code]

but still the script is facing with key error. Below is the error:
[code]

[2019-04-22 05:46] ysde commented on #22
Hi @saurabtanej
Can you set `debug=True` which is in the grafanaSetting.py and show me the response Grafana API responded ?

It seems that the response content lack of `uid` field.

Thank you

[2019-04-23 12:28] lduriez commented on #15
I used python3 instead of python2 and all was fine. Thanks

[2019-04-23 12:39] #15 closed

[2019-04-25 06:21] ysde commented on #19
Hi @Shotte

I think......
Maybe you didn't copy the token completely ?

Because I've made such mistake once :p.

There is a  "=" at the end of the token, did you copy it to `grafanaSetting.py` ?

Is that your situation ?

[2019-04-25 16:07] IngaFeick commented on #20
@ysde works now. Thanks a lot!

[2019-04-28 09:49] saurabtanej commented on #22
Hi @ysde , Its already running in debug mode.

Its able to list the dashboard, response is also 200 so there shouldnt be anything wrong with the authentication. But the content seems to be missing uid which fails the script.

[2019-04-29 03:55] #20 closed

[2019-04-29 06:14] ysde commented on #22
Hi @saurabtanej

Which grafana version do you use ?

[2019-04-29 17:32] saurabtanej commented on #22
Hi @ysde my grafana version is  Grafana v4.4.3

[2019-05-01 05:54] saurabtanej commented on #22
Hi @ysde , do you know why it could happen?

[2019-05-01 16:50] ysde commented on #22
Hi @saurabtanej

I think it's because of the version v4.4.3.

The version you used seems that it doesn't contain `uid` field.
https://grafana.com/docs/v4.4/http_api/dashboard/

Can you upgrade your grafana version ?
I can also try to make a compatible version for Grafana v4.4.3.

FYI

[2019-05-02 13:57] GETandSELECT opened #24 "license?"
Hello

thank you very much for awesome `grafana-backup-tool`

Can you please add a license file (example GPL, MIT,..) to your repo?

thanks

[2019-05-03 06:54] ysde commented on #24
Ok, I added it.

Thanks

[2019-05-03 06:54] #24 closed

[2019-05-03 08:45] thinrope opened #26 "Introduce some kind of DEBUG flag?"
Now that everything works (tm), may be it is time to tidy out the default output and introduce some kind of debug/verbose flag...
I'd suggest "-d" and print a help message like:
[code]
upon error.

[2019-05-05 06:34] saurabtanej commented on #22
@ysde , I upgraded garafana version to 6 and script worked fine.

Thanks!

[2019-05-05 06:34] #22 closed

[2019-05-20 13:50] ooaklee opened #27 "TypeError in dashboardApi.py"
Thanks for such a fantastic tool! One issue that came up for me and stopped me from performing a full dashboard restoration was that in the `get_folder_id_from_old_folder_url` function, `response[1]` was deemed a `dict` on some instances rather than a string which caused the `json.loads()` call to throw a `TypeError` error for me regularly.

To fix it, I added the following if statement to replace

[2019-05-21 08:16] keyboardfann commented on #27
Hi @ooaklee,
    I also find the issue and also try to fix it. After testing your code, it works fine to me.
Here is my environment and testing:
Grafana version: 6.1.6
python:2.7.5
Original issue:
`➜  grafana-backup-tool git:(master) ✗ python createDashboard.py /root/1.json
[debug] status: 200
[debug] body: {u'hasAcl': False, u'canAdmin': True, u'updated': u'2019-05-21T08:07:09Z', u'uid': u'8Luj-a

[2019-05-22 04:45] ysde commented on #27
I've merged the pull request.

May I know in what circumstances the response will become a `dict`?

Thank you all.

[2019-05-22 04:45] #27 closed

[2019-05-22 04:59] ysde commented on #26
Sure, It's good to make the usage more friendly.
I'll work on this when I'm free :D

[2019-05-22 08:32] keyboardfann commented on #27
Hi @ysde,
    It seems the Content is dict.

Test dashboard, export from saveDashboards.py
[code]

Modify createDashboard.py to print the dict
[code]

Result
[code]

[2019-06-21 16:29] danrue opened #31 "Backup tar file extraction fails"
I've tried using the docker container to back up my grafana instance. Everything appears to work fine, but when I try extracting the resulting tar file I see the following error:

[code]

It seems that if I extract the tar file from a directory higher than it exists, it works, but if I try to extract it from its current directory, it does not.

[code]

[2019-06-23 21:42] wargamez opened #32 "Limit on dashboards backup"
search dashboard in grafana:
/usr/local/lib/python3.7/site-packages/urllib3/connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
[debug] status: 422
[debug] body: {'message': 'Limit is above maximum allowed (

[2019-06-23 21:43] wargamez commented on #31
I think it has to do with the filename used containing ":", and tar thinks this is some remote server tar thingy ... Try to move the file to backup.tar before you issue the tar xvzf command on it

[2019-06-25 09:40] ysde commented on #31
Hi @danrue

I think @wargamez is right.

According to this https://unix.stackexchange.com/questions/13377/tar-extraction-depends-on-filename

Can you try using `--force-local` on your `tar` command according the link above ?

I tested on my Mac is ok though.

Thank you

[2019-06-25 09:48] ysde commented on #32
Hi @wargamez

This is a new feature of Grafana v6.2+
https://grafana.com/docs/http_api/folder_dashboard_search/

Will arrange time to do it.

Thank you

[2019-06-25 14:16] danrue commented on #31
Hi! Thanks for taking a look at this and explaining the issue.

I think it should be fixed (which probably means avoiding the colons?) - it's hard for casual users to trust backup software that creates tar files that can't be extracted without special knowledge (there are probably a lot of users who either never try to extract the archive before they need it, or, who try, get that error, and then

[2019-06-27 02:07] #19 closed

[2019-07-08 07:38] ysde commented on #32
Hi @wargamez

I pushed a new version to solve this issue.

Can you give it a try?

Thanks

[2019-07-18 09:55] GETandSELECT opened #35 "directory name '2019-07-lOT07:33:06' with : not compatible with Windows"
Hi

I run `backup_grafana.sh` which creates a tarball. When you unpack the tarball there are directories like `2019-07-lOT07:33:06` which is not compatible with windows. I upload the contents of tarball to Git repo.

Please replace : with -

During Git checkout of grafana-backup the Windows guys get:

[code]

thanks

[2019-07-24 12:46] Fadih opened #36 "can you please add backup to alerts channels"
hi
thank you man you have a very good tool
i would like to ask you if you can add backup and restore to alerts channels
https://grafana.com/docs/http_api/alerting_notification_channels/
thanks

[2019-07-25 03:06] ysde commented on #36
Hi @Fadih

Thank you for the compliment.

Recently busy on work. I need some time doing this.

Thank you

[2019-07-25 10:25] Fadih commented on #36
thanks

[2019-08-01 08:12] Fadih commented on #36
hey my friend any estimation time for this feature ??
thanks

[2019-08-06 06:39] ysde commented on #36
Hi @Fadih

Sorry for the late response.

Probably this weekend.

Thanks!

[2019-08-12 04:24] ysde commented on #35
Hi @GETandSELECT

I have changed the file name format.

Can you give it a try ?

Thank you.

[2019-08-12 04:25] ysde commented on #36
Hi @Fadih

Hi @GETandSELECT

I have pushed the codes for alert channels.

Can you give it a try ?

Thank you.

[2019-08-12 04:27] ysde commented on #31
@danrue

Yeah, I agree with you.

I've changed the file name format.

Maybe you can give it try ?

Thanks for the advices.

[2019-08-12 11:31] GETandSELECT commented on #35
thanks.

[2019-08-12 11:31] #35 closed

[2019-08-12 15:13] danrue commented on #31
Thanks @ysde it works great!

[2019-08-12 15:13] #31 closed

[2019-08-14 20:49] OneMoreByte opened #37 "Version check chokes on prerelease"
Hey, I'm playing with the grafana/grafana:master container and it returns `6.4.0-pre` as it's version. The script chokes on that since after the splits it's still not an number `640-pre`.

[Relevent line](https://github.com/ysde/grafana-backup-tool/blob/58a77410e042f2be1394eefbb5ef50d073c429b7/src/commons.py#L5)

[2019-08-14 21:08] OneMoreByte commented on #37
[code]
Works as a fix. I'll test on a non-master container/install and put in a pr

[2019-08-15 06:55] Fadih commented on #36
Thank you man im on vacation this week,i will check when i come back
Thank you

[2019-08-23 20:48] zot24 commented on #36
I did test it @Fadih @ysde and found and issue on my case submit a PR to fix my use case that might be related with my specific version of Grafana (v5.2.4) didn't have time to check others https://github.com/ysde/grafana-backup-tool/pull/38

[2019-08-25 12:44] Fadih commented on #36
hi
thank you my friend its working fine to me  @zot24 im using grafana version v6.1.0

[2019-08-29 04:13] #36 closed

[2019-09-17 14:04] cabrinoob opened #39 "Restore example (from docker)"
Hi,
I'am trying to use grafana-backup to backup and restore my grafana dashboards.

The backup works fine but I don't know how tu use the restore method.

**I want to use it from docker.**

For the backup I'am using this :

[code]
But for the restore I don't know what to do. When I look inside the Dockerfile I see that there is an ENTRYPOINT assigned to **backup_grafana.sh**.

thank you for your h

[2019-09-18 03:36] ysde commented on #39
Sorry I only thought about backup. I'll make a version of restore and backup and add explanations in README.

Thanks

[2019-09-18 05:57] ysde commented on #39
Hi @cabrinoob

I've added in the latest commit.

Can you give it a try ?

Thank you

[2019-09-20 12:46] cabrinoob commented on #39
Thank you

[2019-09-20 12:46] #39 closed

[2019-09-20 12:56] cabrinoob opened #40 "Restored datasources are "locked""
Hi,
Thank you for your work.

I have a strange problem but I don't know if it's a grafana or a backup-tool problem :

I'am running Grafana on a kubernetes cluster in a "prometheus" namespace. The backup phase works fine.

To test the restore, I create another grafana instance in a "test" namespace. The restore phase seems to work fine, but I need to update the "prometheus" datasource to make it po

[2019-09-23 02:54] ysde commented on #40
Hi @cabrinoob

Sorry I haven't used namespace before.

I'll test it when I'm available.

Thanks for the feedback.

[2019-09-23 06:59] #32 closed

[2019-09-27 18:04] ttownsend78 opened #41 "Does this work with ssl and oauth integration?"
I seem to be encountering errors, but I'm not sure if it is because my Grafana instance has SSO and SSL enabled.

Error with the real URL:

[code]

With localhost in grafanasettings.py

[code]

[2019-10-02 07:25] ysde commented on #40
Hi @cabrinoob

According to the message in your picture.
The datasource was created by config files.

I cannot reproduce the problem by using backup tool.

But I can reproduce the problem you mentioned by using [grafana provisioning](https://grafana.com/docs/administration/provisioning/)
https://xuxinkun.github.io/2018/11/27/grafana-provisioning/

Can you help check is there any .yml or .yaml file

[2019-10-02 07:43] cabrinoob commented on #40
Yes, I have 1 *datasources.yaml* file with the definition of my prometheus datasource

[2019-10-03 06:19] ysde commented on #40
So can we conclude that the _lock_ issue is caused by _datasources.yaml_ , not the backup-tool (It uses only grafana api to do restore and backup)?

[2019-10-03 07:18] ysde commented on #41
Sorry I didn't use ssl and oauth integration before.

I'll try them when I'm available.

Thanks

[2019-10-04 05:54] #40 closed

[2019-10-21 10:11] ysde commented on #41
Hi @ttownsend78

Do you have more detailed explanation of your grafana  instance's settings ?

Thank you

[2019-11-20 08:15] akamensky opened #43 "Does not backup alert rules?"
I see alert channels backed up, but no backup for alert rules?
I think that needs to be added here.

[2019-12-02 05:31] ysde commented on #43
ok, will do when I'm available.

Thanks

[2019-12-10 10:42] ysde commented on #43
Hi @akamensky

I've looked the grafana documents.

The alert rules are already backed up when backing up dashbaords.

Can you give it a try?

Thanks

[2019-12-11 03:19] #43 closed

[2020-01-13 22:27] dbaumann opened #45 "Custom headers?"
In my case, Grafana is sitting behind a load balancer which routes based on the Host header.

[2020-01-14 14:41] danielmotaleite commented on #45
Please merge this, i also need to pass the host header to correctly identify the vhost and can't use the host header value directly because it have google oauth protecting it

[2020-01-15 06:30] ysde commented on #45
Hi @dbaumann, @danielmotaleite , is it better that use another name like `CUSTOM_HEADERS` instead of `GRAFANA_HEADERS`?  Since it's not used by Grafana server and can be customized all by our selves.

Thank you

[2020-01-15 06:38] ysde commented on #45
Merged :)

Thanks

[2020-01-15 06:38] #45 closed

[2020-01-23 01:44] brandon-vargas opened #48 "GRAFANA_HEADERS enviroment variable is not optional as stated"
Even though the README states the GRAFANA_HEADERS is an optional environment varible, when i do not include it i get this error: `    EXTRA_HEADERS = dict(h.split(':') for h in os.getenv('GRAFANA_HEADERS').split(',') if 'GRAFANA_HEADERS' in os.environ)
AttributeError: 'NoneType' object has no attribute 'split'`

I also attempted to setting GRAFANA_HEADERS equal to an empty string, i get a differen

[2020-01-23 20:09] manwiththegoldengun opened #49 "Datasource passwords are not retrieved"
The tool is saving the datasource without the password (encrypted or otherwise). Is it expected that the admin is supposed to manually insert the password into the datasource once it's been restored? Is anyone looking into the possibility of retrieving an encrypted password?

[2020-01-30 09:20] ysde commented on #48
Hi @brandon-vargas

I've responed in the code review. Would you take a look at it.

Thank you for the help.

[2020-01-30 15:04] brandon-vargas commented on #48
The pull request has been updated to reflect a working dict comprehension.
here: https://github.com/ysde/grafana-backup-tool/pull/47

[2020-01-30 17:05] ysde commented on #48
The code has been merged.

Thank you

[2020-01-30 17:05] #48 closed

[2020-02-14 08:01] ysde commented on #49
Hi @manwiththegoldengun

Sorry I don't know how to get the password back since the Grafana api doesn't provide this ability.

I'll dig into it.

Thanks

[2020-02-19 04:08] amotl opened #50 "Polish and release"
Dear @ysde,

first things first: Thanks for conceiving this excellent utility.

After taking a look, I recognized the module has not been added to PyPI yet. It would be cool to add an appropriate `setup.py` and - while being at it - to wrap the functionality of `backup_grafana.sh`/`restore_grafana.sh` within respective [Python console script entrypoints](https://amir.rachum.com/blog/2017/07/28/pyt

[2020-02-25 08:38] pmhausen opened #51 "Why archive and remove the output files?"
Hi!

This is a nice tool and I really appreciate your work. I changed (quick and dirty) the bash script to simply not remove the files and changed the output directory from "_OUTPUT_" to "backup".
Similarly I removed the timestamp from the dashboards.txt file.

After a run of the script I add, commit, push ... why versioned tar archives and filenames when there's git?

Kind regards,
Patrick

[2020-02-25 08:43] pmhausen commented on #26
Seconded. I'd leave the "debug yes/no" configuration in the config file ...

[2020-02-25 09:03] pmhausen opened #52 "Dashboard summary logfile only contains last dashboard saved instead of all"
[code]

[2020-02-25 09:05] pmhausen opened #53 "Please add newlines at the end of all files saved"
Subject says it - I did it in my proposed fix here: https://github.com/ysde/grafana-backup-tool/issues/52

[2020-02-26 02:34] ysde commented on #51
Hi @pmhausen

Thank you.

The first thought is setting a cronjob or timer to trigger the backup program, and it will back up to the same folder, and keeping versioned files is because in case we do something wrong but backed up files were overwritten.

Any improvements of this project are welcome.

Thank you

[2020-02-26 02:41] ysde commented on #50
Hi @amotl

Thank you.

Honestly, I'm not familiar with PyPI. I only know I can `pip install` something.

I'll read the link and try to wrap them and add to PyPI.

By the way, helps are very welcome !

Thank you

[2020-02-26 04:08] #52 closed

[2020-02-26 04:09] ysde commented on #53
Hi @pmhausen

I made a fix of it.
Can you give it a try?

Thank you

[2020-02-26 06:04] amotl commented on #50
Dear @ysde,

thanks for your feedback. I am always happy to help but have to share my time between other things which take my attention. However, please feel free to ping me on this if you don't hear back from me.

With kind regards,
Andreas.

[2020-03-09 21:43] pwnell opened #54 "Recent changes made to grafanaSettings.py breaks Python 2.7 compatibility"
The unpacking operator used in grafanaSettings.py in the most recent version breaks compatibility with Python 2.7 as the unpacking operator (**) for EXTRA_HEADERS is not supported in versions of Python before 3.5.

So perhaps just update your README.

[2020-03-16 07:21] ysde commented on #54
Hi @pwnell

Thanks for the feedback.
I didn't notice that.

I've updated the code.

Can you give it a try if you have free time?

Thank you very much

[2020-03-16 07:37] #53 closed

[2020-04-01 12:42] reamasesa opened #55 "Dashboard name vs. Dashboard uid"
Hi,

What's the reason behind using the uid instead of the dashbaord title for the filename when saving the dashboard file?

Thanks

[2020-04-03 08:31] Flodu31 opened #56 "left_ver_newer_than_right_ver(resp['version'], "6.2.0")"
Hello,
Thanks for the share.
I've the following error:

`grafana health: https://monitoring.domain.com/api/health
/home/florent/.local/lib/python2.7/site-packages/urllib3/connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'monitoring.domain.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-u

[2020-04-06 02:35] ysde commented on #55
Hi @reamasesa

I think there might be some cases that dashboards will have the same title name.
So I choose using uid instead.

Thank you for the question.

FYI

[2020-04-06 02:38] ysde commented on #56
Hi @Flodu31

Can you help check the version of your Grafana?

Maybe it's the same case of https://github.com/ysde/grafana-backup-tool/issues/37

If it's same issue, I'll fix it asap.

Thank you

[2020-04-06 05:09] Flodu31 commented on #56
Yes, same issue.
I've version Grafana v7.0.0-c1fa1cd2pre (65dbd7cadc)
I removed everything in the if condition and it works fine.
Thanks.
Florent

[2020-04-06 05:09] #56 closed

[2020-04-19 07:38] nkastanas commented on #54
in python 2.6.6 (yes i know)

[2020-04-20 03:13] ysde commented on #54
@nkastanas  ok, thanks for the advice.

[2020-04-20 07:44] #54 closed

[2020-04-24 08:16] #37 closed

[2020-04-24 14:17] thebrennus opened #57 "Supporting Users and Orgs?"
Is there any way this could be expanded to support backup/restore of users and orgs?
In my environment we have multiple organizations with different users/privileges per org.

[2020-05-03 05:55] ysde commented on #57
Hi @thebrennus

If Grafana has the corresponded API for creating and downloading  users and orgs, then it can be done.

I think it can be done.
https://grafana.com/docs/grafana/latest/http_api/org/#create-organization

Thank you.

[2020-05-24 00:59] amadeuszkryze opened #60 "Unable to backup Grafana 7.0.0 dashboards."
Hi, recently I've upgraded Grafana server to version 7.0, and backup tool cannot backup dashboards from it.

Here is traceback from the container:
[code]

[2020-05-26 00:16] Mikey1993 commented on #60
Some questions:
1) Are you sure you are using `VERIFY_SSL = False` in the config file?
2) What is your `requests` package version? The latest is `2.23.0`, check [here](https://pypi.org/project/requests/#history)
3) Have you tried the suggested methods [here](https://stackoverflow.com/questions/27981545/suppress-insecurerequestwarning-unverified-https-request-is-being-made-in-pytho) ?

[2020-05-27 09:50] amadeuszkryze commented on #60
I was running it in docker. But I'll try this 'VERIFY_SSL = False'. However I'm using valid SSL cert from let's encrypt.

[2020-05-27 12:20] f0ff38 opened #63 "Failed to establish a new connection: [Errno 110]"
Hi!
Using grafana-backup-tool in docker I get the following error:
`TimeoutError: [Errno 110] Connection timed out`
[trace.log](https://github.com/ysde/grafana-backup-tool/files/4688550/trace.log)
Centos 7
Grafana v6.7.0-2a2568f6pre
Grafana API token validation successful.
I would be grateful for any advice.

[2020-05-27 13:57] Mikey1993 commented on #60
I don't have experience using the docker version, but it should be identical to running it not in a container..

[2020-05-27 14:16] amadeuszkryze commented on #60
I mean its container from the creator of grafana-backup-tool. And it's not working, even after setting VERIFY_SSL to False. However, its not a problem with connection but with json decode inside this tool.

[2020-05-27 20:20] Mikey1993 commented on #60
And running the backup procedure without a container works for you?

[2020-05-27 20:31] Mikey1993 commented on #63
Are you sure your grafana instance is available on http://192.168.123.81:8110 ?
Are you able to browse to it?

[2020-05-28 04:03] f0ff38 commented on #63
Hi, Mikey!
Yes of course.

[2020-05-29 17:51] Mikey1993 commented on #63
I'm sorry, but I am unsure what is the reason you are getting timed out then.
Maybe some firewall rules are blocking the connection?

[2020-05-30 16:13] f0ff38 commented on #63
Only iptables over netfilter is enabled, but there is a rule for this host, otherwise the grafana check would not work.
Anyway thanks for trying to help!

[2020-06-02 05:48] rgarrigue commented on #60
I don't quite have the same issue. After cloning, editing the setting file with ssl yes, debug false, url & token I've this log

[code]

My versions : Grafana 7.0.1, and

[code]

[2020-06-02 20:16] Mikey1993 commented on #60
@rgarrigue ,
What do you mean by "tons of json" part?
Can you elaborate?

Also, you are right that there is a need to use the `Admin` APIKey instead of a `viewer` key for the backup to succeed.
@ysde.
I have updated the README and pushed it into the documentation in my pull request.
can you merge?

[2020-06-03 06:23] ysde commented on #60
@Mikey1993  thanks for the help
@rgarrigue Yeah, all the backups need Admin permission to proceed.

Thank you

[2020-06-03 06:37] ysde commented on #63
@Mikey1993
Thanks for the help !

Hi @f0ff38
According to the log....  it seems the backup program cannot connect to your grafana server.
May I know what's your environment looks like?
Did your grafana run in docker?
Did your grafana and backup-docker program run in the same host ?

Thank you

[2020-06-04 02:18] #60 closed

[2020-06-04 08:03] f0ff38 commented on #63
Hi @ysde
Thx for the answer!
Grafana runs in Docker on another host on the same LAN.
Here is the output from the host where docker-grafana-backup-tool is running:
[code]

[2020-06-08 09:22] ysde commented on #63
Hi @f0ff38

Can you try adding --net=host when you run the grafana-backup-tool's docker command?
And see if it works ?

[code]

[2020-06-08 14:21] HamishKerr opened #64 "All folders empty"
Hello.
Thank you for your code. It works very well for me so far, except that the folders it creates when running a backup are empty. It does create a tar.gz file which has the folders inside which are not empty (the backup is working and reading my grafana), however the folders "alert_channels", "dashboards", "data_sources" and "folders" in the root _OUTPUT_ folder are empty.
Is this supposed to

[2020-06-09 14:31] f0ff38 commented on #63
Hi @ysde
This Works Great!
There was such an error:
[code]
I do not use Grafana alerts, but perhaps this information will be useful.
Thank you very much!

[2020-06-09 17:51] Mikey1993 commented on #63
@f0ff38 ,
Looks like you don't have permissions,
are you using an `Admin` role for API Token that you are using?

[2020-06-10 02:32] f0ff38 commented on #63
Hi @Mikey1993
Thx for the answer!
There are no errors with administrator rights. I only need copies of the panels, for this, read permission is enough.

[2020-06-11 06:41] ysde commented on #63
Ok great~
Glad you solved the problem.

[2020-06-11 06:41] #63 closed

[2020-06-26 19:03] acjohnson commented on #50
@ysde Thank you for this great and nearly complete tool. From a functionality perspective this appears to give me exactly what I want.

I think what would tie it all together is to implement a CLI component using argparse or docopt or something similar which would get rid of `backup_grafana.sh` and `restore_grafana.sh` and utilize setup.py entrypoints as @amotl suggested.

I would like to help wit

[2020-06-28 04:12] acjohnson commented on #50
https://github.com/ysde/grafana-backup-tool/pull/65

[2020-07-09 11:40] tiagorodriguessimoes opened #66 "Token left on purpose?"
https://github.com/ysde/grafana-backup-tool/blob/fc3ff95ae618d403deb8dbc7a3158a11b6f3be42/src/conf/grafanaSettings.py#L4

[2020-07-09 15:54] Mikey1993 commented on #66
@ysde
Even if it's functional, I am sure it was just for example/testing?

[2020-07-12 14:27] ysde commented on #66
Yes, it's for example usage.

I thought that way people can know "This place should be the token in." and know what does the token look like.

Sometimes people miss the final equals sign "=" when fill in this field. (I have done this before :D

[2020-07-12 14:33] ysde commented on #64
Hi @HamishKerr

Thank you.

The files are deleted when backed-up file .tar.gz generated.

If it's confusing, maybe it can be improved  by also removing the folders ?

[2020-07-15 03:14] #66 closed

[2020-07-28 14:10] acjohnson commented on #50
@amotl @ysde #65 has been merged this issue can be closed IMO

[2020-07-28 14:11] acjohnson commented on #51
@pmhausen The tool now supports the `--no-archive` flag does this help you?

[2020-07-28 21:39] acjohnson opened #67 "Upload to PyPI"
@ysde let me know how you want to proceed but I think these instructions should work to get it published to PyPI if you want to try and follow these steps: https://packaging.python.org/tutorials/packaging-projects/#uploading-the-distribution-archives

[2020-07-30 11:58] suhlig opened #69 "TypeError: get_folder() missing 4 required positional arguments"
Restoring a dashboard fails with this error:

[code]

Looks as if https://github.com/ysde/grafana-backup-tool/commit/ab06386bd6cb3ec4f4bcfd51ca1a41162ac30673 changed `get_folder` to require four args, where the rest of the code seems to call it with just one.

[2020-07-31 12:56] #69 closed

[2020-07-31 15:49] ysde commented on #67
Hi @acjohnson

It works !
https://pypi.org/project/grafana-backup/1.0.0/

Thank you

[2020-07-31 15:49] #67 closed

[2020-07-31 15:54] ysde commented on #50
Thank you for the advices. @amotl
Thank you for the help to refactor it. @acjohnson

[https://pypi.org/project/grafana-backup/1.0.0/]()

[2020-07-31 15:54] #50 closed

[2020-07-31 16:11] acjohnson commented on #67
Nice!

[2020-08-02 17:25] amotl commented on #50
Thanks a bunch, @acjohnson and @ysde. This has turned out pretty well!

[2020-08-05 09:48] pkubiak opened #72 "Handle API errors with exit code"
Hi, I have recently noticed that tool doesn't handle Grafan API errors well.

In case of providing wrong Grafana Token, API replay with status `401` and following log is printed:

[code]

But the tool works as usual, it creates empty archive and returns without errors.

Maybe it would be better to indicate such error (and probably other) with exit code and don't produce malformed archive files?  I

[2020-08-06 16:47] acjohnson commented on #72
#73

[2020-08-11 10:47] ysde commented on #72
Hi @pkubiak

@acjohnson helped add the feature.

FYI

[2020-08-11 10:47] #72 closed

[2020-08-13 04:22] acjohnson commented on #72
#76

[2020-08-14 10:53] bcar-github opened #77 "TypeError: health_check"
https://github.com/ysde/grafana-backup-tool/blob/7a9d3ec410d5416d7a6969b5041728445b9415d0/grafana_backup/api_checks.py#L10
    (status, json_resp) = health_check(grafana_url, http_get_headers, verify_ssl, debug)

leads to:  TypeError: health_check() missing 1 required positional argument: 'debug'

see:
https://github.com/ysde/grafana-backup-tool/blob/master/grafana_backup/dashboardApi.py#L5
def he

[2020-08-14 13:44] JPfeifer21 commented on #77
@ysde pls revert the last commit, as the latest tool version doesn't work anymore.

[2020-08-14 15:15] acjohnson commented on #77
@JPfeifer21 @ysde my bad, should have tested after the rebase... PR incoming

[2020-08-14 15:18] JPfeifer21 commented on #77
@acjohnson No worries :)

[2020-08-14 15:31] acjohnson commented on #77
#78

[2020-08-17 10:17] ysde commented on #77
Merged the latest commit.

Thanks @JPfeifer21  @acjohnson

[2020-08-17 10:17] #77 closed

[2020-08-17 13:28] sshaikh opened #79 "Pretty JSON"
For those of us who prefer text/json output (for example to use with source control) it would be useful for JSON files be prettified (and perhaps sorted somehow?) when written to disk.

I'm not too familiar with Python but my work around right now is to apply the json.tool (module?) to each file via a bash script, but I presume that means this can be rolled into the backup tool itself.

[2020-08-17 15:34] pkubiak commented on #72
Super, thanks :) will you bump version of pypi package?

[2020-08-18 03:18] tedpearson opened #81 "Don't include aws and grafana token configs when building pypi package"
Just installed latest version from git, and found that when I use env vars instead of config files, the aws upload section always attempts an upload using the dummy config values in grafanaSettings.json (bucket_name, et. al). It's currently impossible to avoid the aws upload step when using env vars for conf because the conf directory is packaged up into the installation in setup.py. Also there's

[2020-08-18 07:54] OleksandrMykytenko commented on #81
I've managed to bypass it via setting `AWS_S3_BUCKET_NAME` env var to `""`. Then, S3 upload is just skipped and does not throw any exceptions.

[2020-08-19 15:34] acjohnson commented on #81
I agree the default config is fine for some things but not if it forces users to set variables to empty strings...

[2020-08-19 15:46] acjohnson commented on #81
#82

[2020-08-20 07:00] #81 closed

[2020-08-23 01:02] tedpearson opened #83 "tarfile options not valid in python2"
https://github.com/ysde/grafana-backup-tool/blob/9b89588ba5c41e6da77b6d180ce337ebd3d576a7/grafana_backup/archive.py#L18

If you want to continue to support python 2.7, you'll want to change this to `w:gz` instead of `x:gz`. Or just remove Python 2.7 from requirements in the readme. :)

[2020-08-24 02:31] ysde commented on #83
Hi @tedpearson

Thanks!

[2020-08-24 02:31] #83 closed

[2020-08-24 09:01] ysde commented on #64
Hi @HamishKerr

I removed the empty folders in the latest commit. Please give it a try.
FYI

Many thanks

[2020-08-24 09:01] #64 closed

[2020-08-24 09:02] ysde commented on #57
Hi @thebrennus

I add this feature in the latest commit.
FYI

Many thanks

[2020-08-24 09:02] #57 closed

[2020-08-25 09:26] avwsolutions opened #84 "Possibility to restore single objects (like a dashboard) from a TAR file to an environment"
Hi,

Just curious if this functionality is available. I couldn't see this. In our use case we also need to be able to restore single dashboard (using the dashboard file or a filter),  for example ; import an example dashboard in a sandbox environment.

I now only see the possibility to do a full restore of all or component type .

[2020-08-26 02:35] #55 closed

[2020-08-26 03:23] ysde commented on #51
Hi @pmhausen

I'll close this first, if there is further issuers, please post again.

Many thanks

[2020-08-26 03:23] #51 closed

[2020-08-27 02:53] ysde commented on #84
Hi @avwsolutions

Yes, the main idea of this tool is easily do a full backup and restore.

Currently it cannot just restore specific dashboard.

It can be put in to future enhancements.
If you have any good ideas about how to achieve it are welcome.

Many thanks

[2020-09-03 15:18] dfluff commented on #79
I've done just this in my own local copy of this tool.  I should really fork the repo and do this properly as a pull request, but it was pretty simple if I remember correctly...

[2020-09-03 15:54] dfluff commented on #41
For the record I use this with a Grafana install that both has TLS (...SSL) enabled, and uses OAuth and it works fine.  Could the issue be that you've got http rather than https in your config file?  The second example shows ``grafana health: http://localhost:3000/api/health`` which should surely be ``https://localhost:3000/api/health``

[2020-09-03 16:01] dfluff opened #88 "Add backup/restore for playlists"
I'd like to be able to backup/restore playlists along with other items.  Thanks.

[2020-09-03 17:00] sshaikh commented on #79
As the Grafana API is pretty decent I've since settled on a pure bash version of 15 lines. This is still a great tool for those who do not have access to curl and jq.

[2020-09-04 11:16] dfluff commented on #88
I started working on this myself, but found that playlists only have numeric ids, not uids, and they also refer to dashboards within the playlists by numeric ids rather than the uids.  Without having the same level of experience with the Grafana API as others, my feeling is that this might make restoring playlists more problematic, especially if restoring between two different Grafana instances.

[2020-09-16 18:10] rmccarthy-ellevation opened #91 "Getting this error when restoring from S3."

[2020-09-16 18:18] rmccarthy-ellevation opened #92 "Getting the following errors when restoring from S3."
I am getting the following errors, see below, when running the restore process. I am running this in ECS as a docker container, the backup process ran without issue. The backup file is located at the top of the S3 bucket.  I am running the same container just with RESTORE  true, and ARCHIVE_FILE  202009161750.tar.gz Environment Variables added to the container definition inside the ECS task defini

[2020-09-16 19:23] acjohnson commented on #92
@rmccarthy-ellevation as of now `grafana-backup-tool` requires the `AWS_S3_BUCKET_KEY` environment variable (or json config entry) to be set to a folder nested in the s3 bucket, so putting the backup in the top of the S3 bucket won't work without a slight code modification.

The default folder name (key) is `grafana-backup` so if you simply create a folder with that name and move the backup archiv

[2020-09-16 19:43] rmccarthy-ellevation commented on #92
Awesome, I think you are right in that being my issue, I will add the key and close this ticket if no there issues arise. Thanks!

[2020-09-16 19:46] acjohnson commented on #92
@rmccarthy-ellevation No problem and thanks!

[2020-09-16 20:13] rmccarthy-ellevation commented on #92
@acjohnson Awesome that worked, thanks for the help and quick reply.

[2020-09-16 20:13] #92 closed

[2020-09-17 20:57] jdmaloney opened #94 "Key Error in api_checks.py"
OS: CentOS Linux release 8.2.2004
Grafana Version: 7.1.5

I'm getting the following Key Error whenever I'm attempting to run the backup of Grafana:
[code]

I've tried installing both via pypi and via the repo with the same result.  From debug output it looks like it's connecting to the local running Grafana instance fine with the api key.

[2020-09-21 04:24] ysde commented on #91
Hi @rmccarthy-ellevation

Can you provide some descriptions?

Thank you

[2020-09-21 05:26] acjohnson commented on #91
I'm pretty sure this is a duplicate of #92

[2020-09-25 10:52] alexrc20 opened #95 "[ERROR] Backing up organizations needs to set GRAFANA_ADMIN_ACCOUNT and GRAFANA_ADMIN_PASSWORD first."
Is it possible to authenticate only with the token with an admin role? Just for not writting the password in the json settings file.

[2020-09-25 15:21] acjohnson commented on #94
I am unable to reproduce. Please follow these steps (I'm using Ubuntu 20.04) and let me know if you get a different result

[code]
Browse to http://localhost:3000, login, create Admin backup API Key

Create grafanaBackup.json replacing xxxx with the key generated above
[code]
Backups run

[code]

[2020-09-25 16:33] ysde commented on #95
Hi @alexrc20

When backing up User and organization needs http basic auth. (According to [grafana official documents](https://grafana.com/docs/grafana/latest/http_api/org/#admin-organizations-api))

You can set account and password in the ENV variable `GRAFANA_ADMIN_ACCOUNT`,  `GRAFANA_ADMIN_PASSWORD` if you don't want to put them in the settings file.

Or you can base64 encode your account and pa

[2020-09-27 14:29] ilativity opened #96 "function save_user missing input parameter"
https://github.com/ysde/grafana-backup-tool/blob/3ab33cf3080c435a3504c260629c97bdb95b00fa/grafana_backup/save_users.py#L80

It should be added **, pretty_print** input argument to the save_user function

[2020-09-28 07:12] #95 closed

[2020-09-29 09:50] tombh opened #97 "Other S3-compatible providers"
At the moment only AWS S3 is supported. This isn't a major problem as `grafana-backup` can just be used without its native S3 support and manual steps can be taken to upload. But at the least, would you be open to adding something like `s3cmd` to the Docker image? It'd simply need this line:

`RUN apk add --no-cache -X http://dl-cdn.alpinelinux.org/alpine/edge/testing s3cmd`

[2020-09-29 14:25] acjohnson commented on #97
I think some sort of post-backup hook command would be nice to add to both the grafana-backup cli as well as the docker image

[2020-10-01 04:43] acjohnson commented on #94
@jdmaloney another option would be to add a `print(str(json_resp))` in `api_checks.py` so we can see what is being returned by your grafana installation

[2020-10-02 16:55] #96 closed

[2020-10-02 16:55] ysde commented on #96
Hi @ilativity

Thank you!

[2020-10-14 19:35] sahil-sawhney opened #99 "Role Based access for S3"
Could the **aws** section in the example conf https://github.com/ysde/grafana-backup-tool/blob/master/examples/grafana-backup.example.json be set up to use AWS role-based access instead of **access_key_id** and **secret_access_key**

[2020-10-19 14:35] aleks-m opened #100 "GCS support"
Would be nice to have support for Google Cloud Storage as a storage backend.

[2020-10-19 14:45] aleks-m opened #101 "Support for Google IAP Authentication"
This would be useful for users who run Grafana on GCP behind Google's Identity Aware Proxy.

https://pypi.org/project/iap-auth/
https://cloud.google.com/iap/docs/authentication-howto#iap_make_request-python

[2020-10-22 14:51] oliv79 opened #103 "Bug restore"
Hi,
I have a bug when i want to restore a backup.
Can anyone help me ?

grafana-backup restore _OUTPUT_/202010221644.tar.gz
...

########################################

Traceback (most recent call last):
  File "/bin/grafana-backup", line 11, in <module>
    load_entry_point('grafana-backup==1.1.3', 'console_scripts', 'grafana-backup')()
  File "/usr/lib/python2.7/site-packages/grafana_backup/cl

[2020-10-22 14:56] acjohnson commented on #103
@oliv79 looks like python 2 support is broken by the use of tempfile that is only in python 3. If you can use Python 3 I would recommend you switch. That said this bug should be fairly easy to work around in the code and I will take a look

[2020-10-22 16:07] acjohnson commented on #103
https://github.com/ysde/grafana-backup-tool/pull/104 fixes this if you are wanting this fixed @ysde

[2020-10-23 08:51] oliv79 commented on #103
the workaround using python3 works. It's ok for me. Thanks.

[2020-10-26 17:48] jjgit-hub opened #106 "Support an ENV passed header for authentication using API key:value"
I have a Grafana environment that requires the use of authentication using the API key:value in the http header.  I found this is possible to do by passing in the key:value auth using the Environment GRAFANA_HEADERS.  However, the authentication fails because HTTP_GET_HEADERS sets a blank TOKEN value.  I have a small patch to GrafanaSettings.py to skip the Authorization: Bearer header when it is n

[2020-11-02 07:12] #103 closed

[2020-11-10 02:34] ysde commented on #106
@jjgit-hub  thank you for the advice

[2020-11-10 02:34] #106 closed

[2020-11-20 09:25] bilalbayasut opened #109 "PermissionError: [Errno 13] Permission denied: '_OUTPUT_'"
I tried to mount this to kubernetes cluster, and my intent was to directly upload the file to aws, thus I don't mount any volume.
and I got this
[code]
what do you think the best solution for this ?

[2020-11-25 08:40] bilalbayasut commented on #109
I was solved this by mounting `emptyDir: {}` for volume

[2020-11-25 08:40] #109 closed

[2020-12-05 17:06] gurpalw opened #111 "Folder not found error on restore."
I took a backup from a grafana server using the command below.

`grafana-backup save --components dashboards,datasources,folders`

I have my .envrc set up, and the save works successfully with no errors in the log.

I've then installed a fresh instance of grafana and i'm trying to restore but i get the below errors.

please advise.

I am using grafana 7.3.3.

[code]

When i check the UI, i can see

[2020-12-06 16:08] acjohnson commented on #111
Just curious what happens when you restore the folders first and then the dashboards manually @gurpalw
```grafana-backup restore <archive_file> --components=folders```

I suspect the problem is we are using an unordered dictionary in restore.py
[code]

[2020-12-06 19:10] gurpalw commented on #111
I restored the folders successfully, using your command. I then tried to restore the dashboards using: `grafana-backup restore --components dashboards _OUTPUT_/202012041839.tar.gz`

but i received the below error.

[code]

[2020-12-06 19:29] acjohnson commented on #111
It is failing to restore to a folder with ID `IjBCShaZz` which apparently does not exist. If the folder was restored properly you should be able to browse to `http://<grafana_ip>:<grafana_port>/dashboards/f/IjBCShaZz`

Most likely it will return a "Folder not found" error because that folder does not appear to exist based on the command output you provided.

Does the folder `restore` show errors w

[2020-12-06 20:38] gurpalw commented on #111
I have just deleted all folders via the UI.

Then i ran the restore folders command again. `grafana-backup restore --components folders _OUTPUT_/202012041839.tar.gz`

[code]

It says one of the folders already exists, even though i made sure to delete all folders via the UI.

[2020-12-06 21:33] acjohnson commented on #111
It seems like you've got something strange going on with a folder (different one this time btw) It appears to be named `SRE`. Have you tried browsing to `https://grafana-restore-test.xxx.xx.net.cn/dashboards/f/jw0Uh2nMz` yet?

[2020-12-07 11:32] gurpalw commented on #111
Yes, i can reach that page fine, and see an empty folder titled "Data Engineering".

[2020-12-07 14:32] gurpalw commented on #111
Ok, i figured out the issue with a duplicate dashboard was my fault.

But the initial issue with the folder not found error, still occurs. It resolves if i restore folders first, then dashboards afterwards.

[2020-12-07 19:14] acjohnson commented on #111
Awesome thanks for confirming once #112 is merged this should be resolved.

[2020-12-09 11:22] Maddin-M opened #113 "Dashboards with same name in different folders not restored"
Title says it all. After deleting all dashboards and folders only one of the dashboard with the same name is being restored.

Dashboards saved:
![grafik](https://user-images.githubusercontent.com/34421118/101623217-68fd7800-3a18-11eb-996c-bef43b2c16ce.png)

Dashboards after restore:
![grafik](https://user-images.githubusercontent.com/34421118/101623599-f771f980-3a18-11eb-89d4-0c0fd8f8dc0c.png)

[2020-12-10 00:34] davecampbell commented on #79
does the pretty_print option expect any python module to be present to work?
i have it set to true in the conf file, and it doesn't create pretty_print output.
using python 3.7 on a mac, did do 'pip install .' before running.
not a big deal - could prettify with jq and not needed for post-processing, but would be nice for review.

[code]

[2020-12-14 02:57] acjohnson commented on #113
Thanks for letting us know @Maddin-M!

[2020-12-16 02:36] #113 closed

[2020-12-16 11:50] fsperling opened #114 "crashes on datasource with / (slash) in the name"
Having a datasource with a slash in the name causes the script to fail. Grafana allows slashes in the names.
The slash is treated literally and results in a path that doesn't exist:
_OUTPUT_/datasources/202012151634/name of datasource foo/bar.datasource

example:

[code]

[2020-12-16 12:00] MrBlood01 opened #115 "Function request"
Hi, first I wanted to congratulate you on the fantastic tool. It works properly. But would there be the possibility to download the plug-ins too?

Also I wanted to know how can I backup grafana on one version and then restore on another different grafana server with different IP. It's possible?

Thanks in advance!

[2020-12-17 01:46] acjohnson commented on #111
@ysde this issue is resolved and can be closed

[2020-12-22 11:03] pihomeserver opened #116 "Backup of docker instance failed to authenticate"
Hi
Trying to use the backup tool with a docker instance but it fails due to an error in the authentication (API key is just for testing)
1) I created an admin API token in the UI
2) Tested successfully the curl command
[code]
3) created the configuration file
[code]
4) call the script
[code]

Using
- Grafana v7.3.3 (2489dc4d3a) in a docker container
- Python 3.7.3
- OS is Debian in a VM on Mac OS

[2020-12-22 15:32] ysde commented on #116
Hi @pihomeserver

You use curl testing `http://192.168.31.200:3000` .
But configuration is `http://localhost:3000`.

Is `http://192.168.31.200:3000` the same Grafana as `http://localhost:3000`  ?

Many thanks

[2020-12-22 15:34] pihomeserver commented on #116
Yes it. I tried both in the json file. Same result for curl. Same issue for the script

[2020-12-22 15:46] ysde commented on #115
Hi @MrBlood01

Currently I couldn't find a way to backup plugin by using Grafana's api.

If you find something please let me know or you can issue a PR for it :D

Many Thanks

[2020-12-22 15:53] ysde commented on #111
Thanks @acjohnson and @gurpalw

[2020-12-22 15:53] #111 closed

[2020-12-22 16:11] acjohnson commented on #116
Can you please try installing inside a virtual environment @pihomeserver?
[code]

[2020-12-22 16:20] pihomeserver commented on #116
Same issue. I add to adapt your step-by-step suggestion with `python3 -m virtualenv -p $(which python3) venv`
Then the result :
[code]

[2020-12-22 16:50] acjohnson commented on #116
different message, you are now getting `Unauthorized` instead of `Invalid Basic Auth Header'`

[2020-12-22 16:55] pihomeserver commented on #116
Oups yes
By the way the sh script works like a charm

[2020-12-22 17:03] acjohnson commented on #116
can you try removing the config file `rm ~/.grafana-backup.json` and test using ENV vars only

[code]

[2020-12-23 08:26] pihomeserver commented on #116
@acjohnson it works with ENV vars !

[2020-12-23 11:51] MrBlood01 commented on #115
Hello! First of all, thank you for answering me. Okay, if you can find anything I'll let you know.

I wanted to ask you something. If I backup a grafana server (192.168.1.12) can I copy it to a second server (192.168.1.50) by modifying the config file?

Thanks!

[2020-12-23 14:24] acjohnson commented on #116
Good to know. I believe there is something wrong with your config file even though the contents of it that you posted in the OP looked good to me...

[2020-12-23 14:39] pihomeserver commented on #116
Thank you for the prompt support !

[2020-12-23 14:39] #116 closed

[2020-12-27 00:10] bzed commented on #94
My grafana returns
[code]

so that will obviously fail.

[2020-12-27 00:18] bzed commented on #94
Reason for that is this config setting:

[code]

If hide_version is ``false``, the version is shown in the health info.

[2020-12-27 02:37] acjohnson commented on #94
ah I see, are there privacy reasons for needing to set `hide_version` to true? This tool has various code paths based on the grafana version so it'd need a config option to manually set the grafana version in order to maintain compatibility with setting `hide_version` to true.

If you are willing/able to at least temporarily set `hide_version` to false during the backup/restore operation that coul

[2020-12-27 18:39] Mikey1993 commented on #94
@acjohnson @ysde , Looks like it would be beneficial for the code to detect if the Grafana version it's trying to backup has the search limit or not before deciding on the way of dispatching the API calls instead of just trying to figure out the exact version from the response of the API.

<h2>Some history:</h2>
The reason there is a detection of the version was because the API changed from Grafan

[2020-12-27 22:10] acjohnson commented on #94
@Mikey1993 another reason to detect Grafana version is due to API changes that affect the dashboard backup process. Grafana version 5.0.0 and newer added unique uid's for dashboards to allow for multiple dashboards with the same name

https://github.com/ysde/grafana-backup-tool/pull/112/files#diff-61a1f977d7fc7eb7521198bb0b07e48823f7d24d111a1ca6de3364bbf9a72b97R60

A try/except could be implemente

[2020-12-28 10:40] ysde commented on #115
Hi @MrBlood01

What do you mean by modifying `config file` ? What's the config file ?

You can restore components that this tool have backed-up to another server, it's totally ok.

Thank you

[2020-12-29 18:10] MrBlood01 commented on #115
This is the "conf" file to configure to do the backup right?
[https://github.com/ysde/grafana-backup-tool/blob/master/grafana_backup/conf/grafanaSettings.json](url)

I wanted to know, to do a backup restore from one server to another how should I do? Different PCs and IPs of course.

Thanks!

[2021-01-04 21:52] Mikey1993 commented on #115
Yes, this is the default config file if not specified otherwise.

[2021-01-09 20:36] MrBlood01 commented on #115
So to restore the backup I just need to change the IP in the "config" file?

[2021-01-12 18:03] acjohnson commented on #94
@bzed can you confirm this is solved?

[2021-01-12 19:17] bzed commented on #94
yes, works perfectly fine. Thank you!

[2021-01-13 23:29] GitBytes opened #123 "Crash on save_folders.py"
Version Affected: `1.1.6`
Environment: Kubernetes

Background:
Been using the tool successfully for a while but backups recently started failing with the following Traceback information:
[code]

Seems to be related to the stage Save Folders. Any thoughts on what might be happening or what this traceback might be indicating beyond just not returning the expected JSON (i.e. None)?

Thanks!

[2021-01-15 22:41] Mikey1993 commented on #115
@MrBlood01,
For the restoring you will need to change all the relevant values under the `global` and `grafana` sections of the json configuration of the new Grafana instance you are trying to restore to.

After that you will be able to run in the command line:
`grafana-backup restore {path/to/backup_file.tar.gz}`
For the restore process to start.

Good luck :)

[2021-01-16 13:37] MrBlood01 commented on #115
But the changes must be made on the "grafanaSettings.json" file right?

[2021-01-16 14:58] acjohnson commented on #115
https://github.com/ysde/grafana-backup-tool#configuration use `~/.grafana-backup.json` instead

[2021-01-16 21:50] MrBlood01 commented on #115
I tried to change the ip in this file. But it doesn't work, the system doesn't restore. Could it be an API key issue?

[2021-01-17 03:36] acjohnson commented on #115
@MrBlood01 it certainly could be an API key issue. Did you happen to receive an error message indicating an API key failure? If so logic may follow that your could try creating a new API key on the destination grafana server but if you haven't already realized this then I recommend that you give it a shot it may work, it might not, depending on what the error message is that you received and what

[2021-01-17 20:36] MrBlood01 commented on #115
@acjohnson First of all, thank you for the incredible kindness and availability. Then the problem is that I don't get any error messages. I run the "grafana-backup restore" command but nothing happens

[2021-01-17 21:10] acjohnson commented on #115
@MrBlood01 subtlety is not my strong suit! I would love to help you further with this if you choose to proceed further with utilizing our team of experts at your disposal for your troubleshooting pleasure. Would you kindly consider posting as much information as possible to help us solve your unique dilemma. To be precise please include the following information to ensure I am able to understand y

[2021-01-18 07:44] #123 closed

[2021-01-19 06:39] #94 closed

[2021-01-20 09:34] tonoriesco commented on #115
Hi,

What a did/try:

I have a host A running Grafana version 6.X. I backup with the `grafana-backup save` with a A-config.json config, no problem. A.tar.gz is created. I inspected the file and looks OK. All the json's are there.

I have a host B that I installed Grafana 7.X. I backup with the tool with B-config.json, no problem. B.tar.gz is created.

Now, I use `grafana-backup restore A.tar.gz --

[2021-01-26 16:09] acjohnson commented on #115
I followed these steps and am able to successfully backup dashboards from a Grafana 6.x instance and restore to a Grafana 7.x instance. Please try these steps and let me know if you are still experiencing problems @tonoriesco @MrBlood01

### Install grafana-backup from master branch
[code]

### Launch Grafana docker containers
**Note: the grafana-6 container is listening on host port 3001**
[code]

[2021-01-26 18:30] tonoriesco commented on #115
Hi @acjohnson

Works perfectly. I need to adjust the datasources, etc. but at least all the dashboards are there.

Thank you!

Tono.

[2021-01-26 18:35] acjohnson commented on #115
@ysde any chance you could open up the wiki section on this repo so we can add the above steps as an example for others to follow?

[2021-01-31 10:51] MrBlood01 commented on #115
Sure! I can give you some useful info:

1) It is obviously a Linux system, to be precise "Debian 10"
2) Python 3.7
3) As for python packages I have to check.
4) Yes, it is a virtual machine on VMware.

[2021-01-31 10:54] MrBlood01 commented on #115
So I have to create two "grafana Settings.json" files. One for each version of Grafana?
But with the same type of user, that (user: admin, pass: "whatever") but the API key different?

[2021-01-31 22:02] acjohnson commented on #115
@MrBlood01 Yes! :smiley: :smiley: :smiley:

[2021-02-13 04:29] staff0rd commented on #49
Came across this also - i'm looking for an approach where I can backup/restore entirely headless, so having to log in and set datasource passwords is not ideal. I am however running grafana in a container (via helm chart) so i'm going to look at specifying my datasources in the container config and having `grafana-backup-tool` backup/restore dashboards only.

[2021-03-09 17:47] acjohnson opened #125 "Push latest grafana-backup to pypi?"
Do you agree we could/should push the current release of grafana-backup to pypi @ysde? Seems it has been stable for some time now.

[2021-03-11 03:37] ysde commented on #125
sure, thank you for the reminding

[2021-03-11 04:46] #125 closed

[2021-03-11 04:57] acjohnson commented on #125
Isn't the current version [1.1.7](https://github.com/ysde/grafana-backup-tool/blob/master/grafana_backup/constants.py#L4)?

Also the package archive that is published to pypi has different code than the release archive https://github.com/ysde/grafana-backup-tool/archive/1.1.5.zip

[2021-03-13 04:43] acjohnson commented on #125
@ysde can you take another look at this. I don't think the pypi release was done quite right. Either the version in
`grafana-backup-tool/grafana_backup/constants.py` should be decremented or the version in pypi should be incremented.

[2021-03-14 17:02] charlspjohn opened #126 "Azure storage configuration"
Hi,

How can I configure Azure storage ? I can only see S3 configuration example file.

--
Thanks,
Charls

[2021-03-14 20:41] acjohnson commented on #126
We need someone with Azure access to contribute storage support. Pull requests are welcome :smile:

[2021-03-22 14:33] acjohnson opened #128 "Publish version 1.1.7 to pypi"
The latest current version is 1.1.7 but for some reason pypi only has version 1.1.5 published @ysde
https://github.com/ysde/grafana-backup-tool/blob/master/grafana_backup/constants.py#L4

[2021-03-23 08:53] ysde commented on #128
Done! thanks for the reminding

[2021-03-23 08:53] #128 closed

[2021-03-24 03:32] ysde commented on #126
Hi @charlspjohn

@neallclark helped adding the Azure support.

Can you give it a try?

Thanks

[2021-03-30 07:07] #126 closed

[2021-04-09 10:58] srkfru opened #129 "Unable to save the dashboards"
Hi Team,

I have followed all the steps in here (https://github.com/ysde/grafana-backup-tool ), but while i am running "grafana-backup save" command it is throwing the below error.

Note: Grafana server is running with HTTPS, I think we have to copy the cacert.pem file somewhere. (Changed the server name with XXXXXXXXXX)

Error Log:
grafana health: https://XXXXXXXXXX:3000/api/health
Traceback (mos

[2021-04-09 15:24] acjohnson commented on #129
Have you tried setting `verify_ssl` to false? I don't know what your TLS configuration looks like and if you're using valid certificates or self-signed, etc.

[2021-04-11 12:01] MrBlood01 commented on #115
Thank you so much guys. The tool works perfectly. Also thanks to the "crontab" command I was able to automate backups!
Thank you very much to all of you for the help you have given me.

You are fantastic!

[2021-04-12 08:25] #115 closed

[2021-04-12 09:48] charlspjohn commented on #126
@ysde , it worked !
Thanks @neallclark

[2021-04-12 10:42] srkfru commented on #129
I have set this to false and it is working now. Thanks for the quick help @acjohnson .

[2021-04-12 10:42] #129 closed

[2021-04-14 15:24] ysde commented on #100
Hi @aleks-m

I add the GCS support.

FYI

Many thanks

[2021-04-14 15:24] #100 closed

[2021-04-21 11:36] nka12345 opened #131 "Could not restore if saved with backup_dir set relative to parent directory"
It is impossible to restore an archive file if it has been created with backup_dir set relative to the parent directory, i.e. (a Windows example):

The `_OUTPUT_` turns out to be out of the tmpdir when restoring and the proccess could not find items

[2021-04-21 12:03] nka12345 opened #132 "Mismatch in the proposed value alert-channels of the components parameter and files extension alert_channel when restoring"
It could be workarounded with:
grafana-backup restore <archive_file> --components=alert_channels

[2021-05-22 08:48] aminmr commented on #97
In fact, there will be object storage platforms which compatible with s3 and it would be grateful to have this compatibility in this fantastic repo.

[2021-05-26 12:14] tommyjcarpenter commented on #92
@acjohnson I vote to reopen this issue.

I can successfully save to S3, but even after following these instructions, I cannot _restore_ from S3.

My config looks like:
[code]

In S3, in that inner folder, I can see my tar files

But when executing this,

[code]

If I delete the S3 section from my config file, I can restore locally.

[2021-05-26 12:14] tommyjcarpenter commented on #91
I am also having this issue still; I replied to #92 which was closed but not sure about the closure: https://github.com/ysde/grafana-backup-tool/issues/92

[2021-05-26 13:04] #91 closed

[2021-05-26 14:44] acjohnson commented on #91
@tommyjcarpenter if this is the error you are getting then it means that the value of `s3_bucket_key"` in your `~/.grafana-backup.json` doesn't exist within the actual s3 bucket you are trying to restore from. They call it a "key" but it's just a folder inside of the s3 bucket that you backup/restore to/from.
[code]

[2021-05-26 14:59] tommyjcarpenter commented on #91
@acjohnson it *does* exist though, since backups work! Does the JSON need a trailing slash for downloads but not uploads?

[2021-05-26 16:59] acjohnson commented on #92
I just tested this, can you follow these steps and let me know if you have a different result?

Install grafana-backup to a clean virtualenv
[code]

Start two instances of grafana, one for backup and one for restore
[code]
Browse to `http://localhost:3000` login with admin:admin and create a new admin API key for backup
Browse to `http://localhost:3001` login with admin:admin and create a new admi

[2021-05-26 20:23] tommyjcarpenter commented on #92
@acjohnson I have figured out the issue  =) and have a UI proposal.

The issue was the `grafanabackup restore XXX` where `XXX` itself does not exist in that S3 folder, as in the wrong tarball name.

This is why save worked; because it doesn't take or care about the XXX, it generates it.

My proposal would be to catch the stack trace above (never want to blow a stacktrace on a detectable condition)

[2021-05-26 20:27] acjohnson commented on #92
Good suggestion, and prs are welcome it you decide to tackle this yourself. It would be nice if the error handling was more clear for this condition.

[2021-05-26 20:32] tommyjcarpenter commented on #92
Another potential suggestion is to have the restore be more verbose about the target, which is what led to this confusion; i have local files, and s3 files

[code]

what happened to me is I was doing `restore onlylocal.tar.gz` and it was "by default" looking in s3, but it only existed locally.

WIth these commands, it would be obvious what the "order" of restoration targets is maybe?

[2021-05-26 20:39] acjohnson commented on #92
sure command line arguments to specify archive location would be nice to have as well!

[2021-05-26 21:33] tommyjcarpenter commented on #92
I submitted a PR: https://github.com/ysde/grafana-backup-tool/pull/134

There seem to be no tests in this repo so I don't want to take on the second suggestion at the current time

[2021-06-02 10:54] jartigag opened #136 "Permissions API"
Are this kind of Grafana API supported by the tool? I'm specially interested in the folder permissions API,

[https://grafana.com/docs/grafana/latest/http_api/folder_permissions/](https://grafana.com/docs/grafana/latest/http_api/folder_permissions/)

but as long as i've seen it seems easy to integrate with the backups. Just GET the permissions by folder/dashboard/datasource when backupping and POS

[2021-06-05 08:46] ysde commented on #136
Sorry that's not implemented in this tool.

Where can the permissions data be used ?

[2021-06-06 09:00] jartigag commented on #136
When a Grafana instance has users divided in different teams, and each user/team should have access to some dashboards and be restricted from accesing to some others. At now, when restoring that instance with grafana-backup-tool, these adjustments must be written down somewhere else and applied manually in each dashboard/folder.

[2021-06-07 06:56] ysde commented on #136
Cool, I see the document show that it will use `id` when setting permissions, but after backup and restore, not sure how to relate the `id`s , need to test it or re-design it.

Any PR are welcomed :D

Thanks

[2021-06-10 22:47] waqaskhan137 opened #137 "Unable to backup"
When I run `grafana-backup save`  it gives me the following error.

[code]

my grafanaSettings.json is

[code]

I am not sure what am I doing wrong here.

[2021-06-11 02:38] acjohnson commented on #137
I was able to get it to work on windows by running `set HOME=%HOMEPATH%` first

[2021-06-11 03:32] ysde opened #138 "Add Unit test"
Add unit tests to ensure new contributions will not break.

[2021-06-11 07:33] waqaskhan137 commented on #137
@acjohnson what does `%HOMEPATH%` represent and how does it help?

[2021-06-11 07:42] waqaskhan137 commented on #137
By the way, I have tried running it after `set HOME=%HOMEPATH%` and I am still getting the following error.

[code]

[2021-06-11 17:36] acjohnson commented on #137
@waqaskhan137 the problem is that grafana-backup is written to require the `HOME` environment variable to be set. In POSIX systems this is a standard environment variable that is set in basically all shells, so it requires it to be set implicitly.

On Windows the equivalent environment variable is called `HOMEPATH` and should be set to something like `/Users/<username>`

So I don't really know wha

[2021-06-11 18:10] acjohnson commented on #137
@waqaskhan137 if you are able to pull my `windowsfix` branch from #139 and test that would be much appreciated!

[2021-06-12 08:06] #137 closed

[2021-06-14 14:04] waqaskhan137 commented on #137
@acjohnson Thank you for putting the effort. I have cloned the project and did `pip install . `

I am getting the following error.
[code]

[2021-06-14 19:17] acjohnson commented on #137
@waqaskhan137 Can you try cloning https://github.com/ysde/grafana-backup-tool latest master branch clean from scratch with a new virtual environment and see if it works? The HOMEPATH change was merged into latest.

[2021-06-15 08:30] waqaskhan137 commented on #137
@acjohnson I did the clean clone and in a new virtual environment. I changed the conf/grafanaSettings.json with the following

[code]

And I am getting connection error of localhost.

[code]

[2021-06-15 12:20] acjohnson commented on #137
@waqaskhan137 you either need to put the config in %HOMEPATH%/.grafana-backup.json or run your command with `--config conf/grafanaSettings.json`

[2021-06-16 11:09] waqaskhan137 commented on #137
@acjohnson This is working now. Thank you

[2021-06-29 17:11] jartigag commented on #136
Here it is :) #140 Tested in a real environment

[2021-07-07 14:41] icy opened #142 "issue with azure"
I don't use `azure` storage, and leave the configuration empty for them (`azure: {}`). I got an error (version 1.1.8) when working with grafana-7.0.3

[code]

What can I do to debug and/or to fix this problem?

Thanks

[2021-07-07 14:47] icy commented on #142
I tried to remove the pip files and reinstall the package (`pip install grafana-backup-tool`), and now I got into another issue:

[code]

[2021-07-07 15:17] icy commented on #142
I found it. The grafana URL doesn't accept any trailing slash. The error would be a lot more informative...

[2021-07-07 15:20] #142 closed

[2021-07-13 10:02] Rauca opened #143 "FR: Adding Cookies to Header"
I have another Login in front of Grafana. If I try to add my Cookies from the Login, the script fails with
'Invalid return character or leading space in header: "Cookie '

Is it possible to add an Feature to add Cookies?

[2021-07-13 11:02] #143 closed

[2021-07-13 11:02] Rauca commented on #143
FYI: You can add Cookies without Spaces in the ENV

[2021-07-23 06:58] HoukasaurusRex opened #144 "AWS credentials in shell environment overwrites backupSettings.json"
## Description

When invoking grafana-backup in a shell environment that currently has AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY loaded by default, these will overwrite the key and secret set in the config file.

## Expected Behaviour

I think it makes more sense to use the keys in backupSettings.json if provided and default to using AWS credentials in the environment if not provided.

The worka

[2021-08-05 14:14] fsperling commented on #88
The playlists aren't super important for me but it would be nice if they were part of the backup.

[2021-08-05 14:32] fsperling opened #145 "Add support for Dashboard versions"
Hi,

First of all thanks for the awesome tool!

I would also like to backup and restore the dashboard versions.
https://grafana.com/docs/grafana/latest/http_api/dashboard_versions/
If there is interest in this feature I could try work on a PR for that.

Cheers,
Felix

[2021-08-05 14:34] fsperling opened #146 "Add support for Snapshots"
Hi,

First of all thanks for the awesome tool!

I would also like to backup and restore the snapshots.
https://grafana.com/docs/grafana/latest/http_api/snapshot/
If there is interest in this feature I could try work on a PR for that.

Cheers,
Felix

[2021-08-05 14:35] fsperling opened #147 "Add support for Annotations"
Hi,

First of all thanks for the awesome tool!

I would also like to backup and restore the annotations.
https://grafana.com/docs/grafana/latest/http_api/annotations/
If there is interest in this feature I could try work on a PR for that.

Cheers,
Felix

[2021-08-10 09:56] ysde commented on #147
Hi @fsperling
Yeah sure, PRs are welcome :D

[2021-08-11 01:30] ysde commented on #146
Hi @fsperling
Yeah sure, PRs are welcome :D

[2021-08-11 01:30] ysde commented on #145
Hi @fsperling
Yeah sure, PRs are welcome :D

[2021-08-30 09:36] fsperling commented on #146
Hi @ysde,
I've created a PR for this issue. Please let me know what you think.
https://github.com/ysde/grafana-backup-tool/pull/148

[2021-08-31 12:53] #114 closed

[2021-09-02 14:07] fsperling commented on #145
I also wrote code to save dashboard versions. Its tricky/not possible to restore them with the Grafana API.
I based it on the branch with the snapshots, so I'll wait before I create another PR.

[2021-09-22 09:27] fsperling commented on #147
is part of PR https://github.com/ysde/grafana-backup-tool/pull/148

[2021-09-24 01:57] #147 closed

[2021-09-24 01:57] #146 closed

[2021-09-24 01:57] #145 closed

[2021-09-26 20:29] ilativity opened #149 "Emoji characters in dashboard title causes an error"
Hi,

I have added some emoji characters to the dashboards titles and this is causes an error in backup process
ex. for a title: 👩 Pola users
Grafana version 8.1.3

**stack trace:**

Traceback (most recent call last):
  File "D:\Projects\grafana-backup-tool-master 2021-09-26\grafana-backup-tool-master\grafana_backup\commons.py", line 14, in log_response
    print("[DEBUG] resp body: {0}".format(res

[2021-10-05 01:00] acjohnson opened #152 "New release"
@ysde with the many new additions I think we should make a new release also, since we're semver it should be version `1.2.0` IMO what do you think?

[2021-10-06 14:20] milaad1 opened #153 "restore backup dosent work for organisation dashboards"
hi team
i used backup from my grafana as a jon in k8s cluster and saved my backup on s3 , today  i and wants to restore my backup , every things is restored by users and password dosent work.also (exept main.org) another dashboards in other organisation is disappeared . this tool cant backup dashboard in organisations?

[2021-10-08 20:06] acjohnson commented on #153
That is very unfortunate hopefully you will find another way to recover them... hopefully this feature will get added in the mean time a doc update would be appropriate I agree.

[2021-10-15 23:16] acjohnson commented on #152
+1 I was able to publish a new `1.2.1` release with some bug fixes and overall improvements. It'd be good to get it published to PyPi as well as Docker pls @ysde

[2021-10-16 20:10] Nazerr opened #155 "UnicodeEncodeError while saving"
### **Hi everyone !**
Encountering some problems with the solution :

First of all, the command 'grafana-backup save' would not work (401 Unauthorized at the API check).
Double Checked the configuration file, everything was okay.
Eventually figured it out with this issue [Backup of Docker #116 ](https://github.com/ysde/grafana-backup-tool/issues/116) by using ENV Variables. <= If anyone can explai

[2021-10-17 01:53] acjohnson commented on #155
@Nazerr
`UnicodeEncodeError: 'latin-1' codec can't encode character '\u20ac' in position 3945: ordinal not in range(256)`

This message tells me you have a character in your config file that isn't being read correctly which according to this site it looks like a `€` character might be the culprit https://www.fileformat.info/info/unicode/char/20ac/index.htm

[2021-10-17 04:54] #155 closed

[2021-10-17 18:09] acjohnson commented on #155
@Nazerr also if you want you could do some unicode encode/decode troubleshooting to see if you can figure out where the `€` is coming from. Perhaps something like this in `commons.py` would help (try encoding the response string to `utf8`)

[code]

[2021-10-26 10:13] psinghsb opened #156 "Feature request to overwrite or delete older backups"
It will be great to have a feature to overwrite backup files or delete older files in storage.

[2021-11-19 19:53] bryan-kc opened #157 "Backup fails for datasources with multiple slashes in their name"
Reappearance of the bug found in https://github.com/ysde/grafana-backup-tool/issues/114

The backup utility fails for this data source. The data source has a name that includes the full path to the data source

`FileNotFoundError: [Errno 2] No such file or directory: '_OUTPUT_/datasources/202111191136/Graphite | MetricTank | https://example.com/graphite.datasource'`

[2021-11-21 03:22] acjohnson commented on #157
@bryan-kc Can you provide the entire stack trace rather than just the error. It should provide output and file line information to help us know where the error is occuring

[2021-11-22 20:03] bryan-kc commented on #157
Hi, sorry for not including the stacktrace. See the included trace below.

[code]

[2021-11-30 17:47] ankujuniyal opened #160 "UnicodeEncodeError in log_response"
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/grafana_backup/commons.py", line 14, in log_response
    print("[DEBUG] resp body: {0}".format(resp.json()))
UnicodeEncodeError: 'ascii' codec can't encode character '\xb5' in position 30086: ordinal not in range(128)

During handling of the above exception, another exception occurred:

Traceback (most recent call la

[2021-11-30 18:36] acjohnson commented on #160
@ankujuniyal Any idea where the `µ` character is coming from? Is it being used in your dashboard names?

I suspect we just need to standardize on `.encode('utf-8')` for our logging

[2021-11-30 18:43] acjohnson commented on #160
@ankujuniyal would you be willing to test this patch to see if it makes any difference?
[code]

[2021-12-01 02:42] #157 closed

[2021-12-01 11:22] ankujuniyal commented on #160
@acjohnson  Did find µ character  in last logs Also try to replicate issue didn't face last error. Might be because i don't have last data on which i was working. sorry

[2021-12-02 11:33] jkbitcaster opened #161 "Tried with Docker: Permission denied: '_OUTPUT_/dashboards'"
Trying the tool with docker. Connections seems to work, but getting Permission Denied:

docker run --user $(id -u):$(id -g) --rm --name grafana-backup-tool \
           -e GRAFANA_TOKEN=eyJrIj.....fQ== \
           -e GRAFANA_URL=<myurl> \
           -e GRAFANA_ADMIN_ACCOUNT=admin \
           -e GRAFANA_ADMIN_PASSWORD=<mypass> \
           -e VERIFY_SSL=true \
           -v /tmp/backup/:/opt/graf

[2021-12-02 12:34] acjohnson commented on #161
@jkbitcaster Please share your `docker run` line

[2021-12-02 12:35] acjohnson commented on #161
@jkbitcaster Please try running `chmod 777 /tmp/backup` before running the docker image

[2021-12-04 04:47] acjohnson opened #162 "Publish 1.2.2 release to GitHub as well as pypi"
@ysde I think it would be good to get `1.2.2` published in all the places.

Thanks!

[2021-12-07 04:41] ysde commented on #162
Updated! Thanks @acjohnson

[2021-12-07 04:41] #162 closed

[2021-12-07 04:46] #161 closed

[2021-12-07 04:51] acjohnson commented on #160
@ankujuniyal I went ahead and filed https://github.com/ysde/grafana-backup-tool/pull/163 which may fix the issue. This should be a safe change either way so I'll see if we can get it merged.

[2021-12-07 04:51] #160 closed

[2021-12-07 04:52] acjohnson commented on #149
This might be solved by https://github.com/ysde/grafana-backup-tool/pull/163 if you could test I would appreciate it @ilativity

[2021-12-10 19:08] Atomicbeast101 opened #164 "Doesn't backup/restore teams data"
Are there plans to improve this tool to export & import teams data? The dashboard/folder permissions got backed up and restored, but not the teams themselves. Grafana does have [API endpoints](https://grafana.com/docs/grafana/latest/http_api/team/) for Teams.

[2021-12-13 11:58] tonoriesco commented on #156
I use a backup.sh with cron and after the grafana backup I run:

[code]

Simple and easy.

[2021-12-14 01:22] acjohnson commented on #160
@ankujuniyal without reproducing I'm having a hard time with this one. if you happen to run into this again it would help out greatly if you could try running `export GRAFANA_HEADERS=charset:utf-8` and re-run grafana-backup to see if this solves the error you are seeing. Thanks!

[2021-12-14 15:33] LukoJy3D opened #165 "dashboards: {'message': 'Not found'} when running save"
Hello guys, looking for insights here.

Dashboard backup is not generated when running `grafana-backup save`. Even though all dashboards are detected:
[code]

But for EVERY dashboard I get `{'message': 'Not found'}`:
[code]

however if I try to curl with dashboard uid everything is good:
[code]

I was wondering if anyone else ran into such issue?

[2021-12-14 20:16] acjohnson commented on #165
@LukoJy3D it looks like `uid_support` check is failing and it is trying to lookup the dashboard using the `uri` `db/lxc` in your example.

`uid_support` is a feature that ensures backwards compat with older versions of Grafana.

Do you happen to see something like this at the beginning of the `grafana-backup save` output?

[code]

In the DEBUG response body you should have a field called `uid`. I

[2021-12-15 07:50] LukoJy3D commented on #165
Big thanks for taking time to look into this.

I do see DEBUG response with uids, however does not seem like any `[Pre-check]` is being done:
[code]

using latest grafana-backup version (1.2.2), my pip is 21.1 ant Python 3.8.9

[2021-12-15 14:51] acjohnson commented on #165
@LukoJy3D something very strange is happening here... In your output for example you show a printed string `grafana health: http://localhost:3000/api/health`
...however that string is not possible to be printed when you look at the source code of version 1.2.2
[code]
So I'm a bit confused if what you shared in your last post was just sanitized manually with some mistakes? Or perhaps something else

[2021-12-20 09:59] LukoJy3D commented on #165
Big thanks for all the insights @acjohnson. Apparently we were using old version under wrong path `/usr/local/bin/grafana-backup` and newest version was installed under `/usr/local/pyenv/shims/grafana-backup` when we switched to pip. Made some config tweaks, change logic a bit and now it works as intended. Thanks once again

[2021-12-20 09:59] #165 closed

[2021-12-27 00:29] acjohnson commented on #149
This should be solved in latest `master` branch

[2021-12-27 00:29] #149 closed

[2021-12-27 00:29] acjohnson commented on #160
should be solved in latest `master` branch

[2021-12-28 09:02] fsperling commented on #41
Yeah, it works with SSL. And OAuth doesn't matter because the REST API uses the Authentication HTTP header.

[2021-12-28 15:39] #41 closed

[2021-12-29 12:39] fsperling commented on #132
This will be fixed with https://github.com/ysde/grafana-backup-tool/pull/166

[2022-01-02 16:31] acjohnson opened #168 "Update repository description"
@ysde Could you consider updating the repo description to maybe match the python package description?

From:
[code]

To:
[code]

Thank you!

[2022-01-03 06:01] ysde commented on #168
@acjohnson sure
Thank you for the advice!

[2022-01-03 06:01] #168 closed

[2022-01-04 07:52] vvchik opened #169 "Could you please push latest release to docker hub?"
It will be great to have latest release on docker hub.
you have 100k+ pulls of your image already, so it is pretty popular.

And maybe you can consider to add some github action to push latest master to docker hub?

[2022-01-04 13:52] RobMin opened #170 "Passwords including '@' are not supported"
Doing a backup using the admin account and password workflow breaks whenever 'ADMIN_PASSWORD' contains '@'.

Repro:

On clean VM with `google/cloud-sdk:367.0.0` base image do
[code]
throws after successful `/api/health` check
[code]
The same issue appears when using `export ADMIN_PASSWORD='some%40pass!word'`

I tried using `admin1` as a password and it is working fine.

[2022-01-04 15:09] RobMin commented on #170
Update:
I tried creating another VM and `username=admin1` `password=admin1` didn't work.
And now I'm confused is it supposed to work with only `ADMIN_ACCOUNT` and `ADMIN_PASSWORD`?

[2022-01-06 00:15] yasinlachiny commented on #170
ADMIN_ACCOUNT and ADMIN_PASSWORD not working for me either.

[2022-01-09 04:48] acjohnson commented on #170
@yasinlachiny and @RobMin can you please try creating an admin token instead? According to the readme I'm pretty sure the only things that can be backed up using `ADMIN_ACCOUNT` and `ADMIN_PASSWORD` is Organizations and Users.

[2022-01-10 10:07] RobMin commented on #170
In my case, grafana is being cleaned once in a while, and creating a token manually every time is not practical.
So I wrote a script to generate a token with a short lifespan which is then passed to `grafana-backup save` with an env variable.
And I believe a feature like this should be included in the tool.

Dashboards can also be backed up using only `ADMIN_ACCOUNT` and `ADMIN_PASSWORD`(I tried t

[2022-01-10 13:20] yasinlachiny commented on #170
I can create backup by API Token and everything works fine but I want to create backup from user too.
I used grafana cloud. maybe they do not support user and password

[2022-01-10 14:02] acjohnson commented on #170
Just to reiterate. `grafana-backup-tool` is unable to backup all component types with only the username and password and you MUST provide an admin token (`GRAFANA_TOKEN` env var). Also I just want to point out the environment variables you are using here are not correct and should be using `GRAFANA_ADMIN_ACCOUNT` and `GRAFANA_ADMIN_PASSWORD`

[2022-01-10 14:02] #170 closed

[2022-01-10 14:07] yasinlachiny commented on #170
I used GRAFANA_ADMIN_ACCOUNT and GRAFANA_ADMIN_PASSWORD but I got permission denied.
I'm pretty sure that my username and password is correct

[2022-01-10 14:11] acjohnson commented on #170
@yasinlachiny are you providing a token as well? You have to provide a token if you want to be able to backup dashboards as well as users and organizations.

Regards

[2022-01-10 14:16] yasinlachiny commented on #170
Yes I used token as well. I can create backup from dashboards but I can't create backup from users. I talked with grafana supports they say that grafana cloud does not support username and password.
They said:

Unfortunately the Basic Auth method on this is not available on hosted Grafana Cloud instances. So the credentials you supplied probably were correct, it's just not allowed via the API itse

[2022-01-11 06:34] ysde commented on #169
Hi @vvchik
Sorry I thought it can be built automatically before.

I'll look into how to integrate with GitHub action.

Thank you

[2022-01-11 07:53] #169 closed

[2022-01-12 08:22] #132 closed

[2022-01-28 20:21] Keimille opened #172 "AWS S3 Error when restoring 'StreamingBody' object has no attribute 'tell'"

[2022-01-30 09:38] gkotian commented on #26
I think this issue can be closed right? There [seems to exist](https://github.com/ysde/grafana-backup-tool/blob/master/grafana_backup/grafanaSettings.py#L21) a debug flag that can be set to True/False.

[2022-01-30 21:51] acjohnson commented on #26
Yes, the debug option is there and is enabled by default (could be debated if it should be disabled by default instead.)

[2022-01-30 21:51] #26 closed

[2022-02-17 17:33] peekjef72 opened #175 "error when restoring dashboards that are in folder General (folderId =0)"
A dashboard that has no Folder Set (id 0) causes an exception during restore.
Eroor is in grafana_backup/dashboardApi.py get_folder_id function.

A Pull Rquest will follow...

[2022-03-01 13:49] phidlipus opened #177 "Why dashboard_versions directory is not included in produced backup file?"
Hi, this is more question than issue..
Why `dashboard_versions` directory is not included in produced backup file? I use S3 storage and uploaded backup file (e.g. 202203011336.tar.gz) doesn't contain `dashboard_versions` directory.
Thanks.

[2022-03-05 18:11] ghassencherni commented on #175
same here

[2022-03-07 10:19] israelshenkar opened #178 "KeyError: 'folderUid' during restore"
Hi, when trying to restore grafana from backup, getting KeyError: 'folderUid'.

restoring dashboard:   ##/tmp/tmp_sf1nnrm/_OUTPUT_/dashboards/202203070850/mY9p7dQmz.dashboard
Traceback (most recent call last):
  File "/usr/lib/python3.9/site-packages/grafana_backup/dashboardApi.py", line 260, in get_folder_id
    folder_uid = dashboard['meta']['folderUid']
KeyError: 'folderUid'

During handling of

[2022-03-07 10:22] israelshenkar commented on #178
#179

[2022-03-07 13:31] NilsLeger opened #180 "Library Panels are not backed up"
Currently, `library panels` are not backed up.

Since we heavily use those, our dashboards are broken after a restore.

[2022-03-08 13:51] NilsLeger commented on #180
I'm currently implementing this feature. Additionally, I will also implement #164.

[2022-03-10 10:38] NilsLeger commented on #178
Which Grafana version do you use? I guess your changes would break functionality for others.

[2022-03-10 15:47] davidpellcb opened #182 "Specifying --components breaks if folder_permissions are not removed from list"
There is a bug here when you remove anything from the `--components` list:

`KeyError: 'folder-permissions'`

If you don't pass `--components`, the code loops over the keys in the `backup_functions` dict:

https://github.com/ysde/grafana-backup-tool/blob/42063c7773270a86d760fb60b377b7dbbea70d1a/grafana_backup/save.py#L51-L52

https://github.com/ysde/grafana-backup-tool/blob/42063c7773270a86d760fb6

[2022-03-14 09:38] ysde commented on #178
Hi @israelshenkar
thank you for the PR. And as @NilsLeger said, this might break the program.
I have a comment in your PR, it needs more tests.

Thank you

[2022-03-14 09:55] #175 closed, assigned to nobody

[2022-03-17 16:10] muecahit94 commented on #156
Hi, this feature would be nice, we use S3 for the remote-backups and dont save the local tar file.
It would be very nice to have a retention feature for the Storages

[2022-06-17 19:09] tommyjcarpenter opened #185 "alerts - possibly due to grafana versions"
First, thank you for your hard work here!
Recently this tool saved me, when we migrated from one Kube cluster to another - I used this tool to transfer all of our dashboards, what a huge help.

One issue came up though - opsgenie alerts didn't transfer. However, the new cluster was running a (slightly?) newer version of grafana. We use the `prometheus-community/kube-prometheus-stack`. The old vers

[2022-06-21 11:55] EggTronic commented on #101
And also auth proxy :D

[2022-06-23 02:43] ysde commented on #185
Sorry it's been a while not using Grafana because my job changed.
I'll check it and PRs are welcomed :D

[2022-07-08 09:25] techcubs opened #187 "Unable to complete"
Hi All,

I am trying to backup grafana but every time I run this, it starts backing up but then stops at a dashboard and doesnt complete. i cannot even break out of it and have to open another session and kill the parent PID.

My backup  command is as follows:
[code]
when i do a CTRL + C, i get the following:

[code]

[2022-08-01 23:04] alfredopalhares opened #188 "Cannot Upload to S3"
Hello,

I am trying to uplodad the backups to an S3 bucket with the following command:
[code]

But I get this error:
[code]

Any sugestions?

[2022-08-02 00:21] alfredopalhares commented on #188
So I circumvented the issue by regenerating more access keys without having any special characters, as more people report in https://github.com/aws/aws-cli/issues/2665

[2022-08-04 11:19] jjess opened #189 "grafana-backup stuck because basic protection with .htpasswd"
Hi:

One of my grafana instances is protected with .htpasswd method. grafana-backup doesn't work and remains stuck because of that.

Could grafana-backup-tool implement some mechanism in order to get authenticated and make the backups?

Thanks in advance,

Jes

[2022-08-22 21:09] ffisc opened #191 "Issues with folders, orgs, users when restoring"
Getting stared with the tool. I have:

1. run `grafana-backup save` -> backup 1  saved
2. made a change (added a dashboard)
3. run `grafana-backup save` -> backup 2 saved
4. run `grafana-backup restore {path_to_backup1}`

On this last step I got several error messages:
- For folders
[code]
- For organizations (except org 1 - I read from the docs that other orgs are not backed up but it appears tha

[2022-08-25 14:23] melouaer opened #192 "Release a new version to reference package version in requirements file"
The project changed since the last release. In order to be able to use the last version in my dependencies file it would be nice to have a new release so I can reference the new version in my project dependencies file.

[2022-08-25 15:23] acjohnson commented on #192
#190 bumps the version I might just have to merge if @ysde does :smirk:

[2022-08-25 15:26] melouaer commented on #192
Hello @acjohnson.
Perfect. I am closing the issue then.
Thank you.

[2022-08-28 01:14] acjohnson commented on #97
I tested this finally with minio and it works great so closing this issue

[2022-08-28 01:14] #97 closed

[2022-09-30 17:21] GMoraesGarcia opened #195 "Issue with Google BigQuery datasource"
I m used CLI to make my backup and restored 100%, but with google Bigquery datasource did not connect, so i created a new datasource with exacly the same json and works.

I m using  differents grafanas, I make backup in one and restore in another, its works, but with this small problem

[2022-09-30 18:06] #195 closed